@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root{
    --yellow:#f9ca24;
    --bluee:#8490ff;
    --white:rgb(244, 232, 232);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--yellow);
    color:#333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}

body{
    padding-left: 33rem;
    
}

/* aside */
aside{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 33rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    text-align: center;
    transition: all 1s;
}

aside .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

aside .user .name{
    font-size: 3rem;
    color: #eee;
    
}

aside .user .post{
    font-size: 2rem;
    color: #eee;
    
}
aside .navbar{
    width: 100%;
}
aside .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

aside .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #eee;
    font-size: 2rem;
    border-radius: 5rem;

}

aside .navbar ul li a:hover{
    background: var(--yellow);
    color: #111;
}
/* aside */
#menu{
    position: fixed;
    top: 1rem;
    right: 2rem;
    color:black;
    background:white;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    display: none;
}
/* home */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1160px;
    margin: 0 0 0 20rem;
    
}
.home-section{
    
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
    
}
.home h1{
    font-size: 3rem;
}
.home h3{
    font-size: 2rem;
}
.home p{
    font-size: 1.5rem;

}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/*Home  */
/* About me */
.about-me{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    
    
}
.pages{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    border-bottom: gold solid;
}
 .numbers{
    background: black ;
    padding: 0 1rem;
    font-weight: bolder;
    color: rgb(83, 83, 250);
    border-bottom: blue solid;
   
}
.numbers h1{
    font-weight: 2rem;
    
}
.section-1{
    display: flex;
    gap: 2rem;
}


.image-holder{
   
    width: 50%;
}

.image-holder img{
    width: 100%;
    object-fit: cover;
}
.pic1{
   
    width: 50%;
}
.pic1 img{
    width: 100%;
    object-fit: cover;
}

.text-holder{
    
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1rem;
}
.text-holder h1{
    color: #f9ca24;
    display: flex;
    justify-content: center;
    
}

.social{
   
    font-size: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.social ul{
    display: flex;
    gap: 10px;
    font-size: 2rem;
    
}
.social ul li{
    list-style: none;
}
.story{
    background: black;
    color: white;
    font-size: 15px;
    padding: 2rem 0;
   
}
.story h1{
    color: rgb(245, 255, 177);
    display: flex;
    justify-content: center;

}



/* end About Me */

/* friends start */
.myfriends{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #14151a 0%, #013051 100%);
    padding: 2rem 0;
}
.friends-page{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:1rem;
    
    
}
.friends-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background: #333;

}
.friends-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.friends-info h2{
    color: var(--yellow);
    font-size: 2rem;
    border-bottom: var(--white) solid .9px;
}
.friends-info h3{
    color: rgba(9, 222, 229, 0.896);
    
}
.friends-info h3 span{
    color: var(--white)
}
.friends img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.social-friends{
    display: flex;
    gap: 2rem;
}
.social-friends li{
    list-style: none;
    font-size: 2rem;
}
.social-friends li a{
    color: var(--white);
}
.mystory {
    margin:auto;

}
.mystory p{
    color: rgba(9, 222, 229, 0.896);
}
.text-holder h3 span{
    color: rgba(9, 222, 229, 0.896);
}
.text-holder{
    background: #333;
}
.text-holder p{
    color: var(--white);
    font-size: 1.5rem;
}
.text-holder h3{
    color: var(--white);
}
.text-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* interest */

.interest{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.interest-hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black solid;
    align-items: center;
    padding: 7rem
   
}
/* interest end */
/* friends end */

/* education */
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.education h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-logo{
    padding: 2rem 0;
}
.education-logo img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
/* education end */

/* footer */
.footer{
    background: #333;

}
.social{
    padding: 3rem;
} 
.social ul li a{
    color: var(--white);
}
.social h2 span{
    font-weight: 800;
    color: var(--yellow);
}
.footer-name{
    color: rgba(9, 222, 229, 0.896);
    
}
.footer-name p{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}


/* footer end */

/* .section-1{
    display: flex;
}

.image-holder{
    border: 1px solid red;
    width: 50%;
}

.image-holder img{
    width: 100%;
    object-fit: cover;
}

.text-holder{
    border: 1px solid blue;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
    



/* section */

/* section{
   
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.home{
   
    padding: 0 15rem;

}
.home h3{
    font-size: 2.5rem; 
    

}
.home h1{
    font-size: 5rem;
    
}
.home p{
    font-size: 2rem;
    padding: 1rem 0;
}

.sec1{
    color:black;
    background: white;
}

.sec1 h1{
    padding: 3rem;
    text-align: center;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    gap: 10px;
}
.pic img{
    border: yellow solid;
    width: 400;
    object-fit: contain;
    align-items: center;
}
.main-info{
    font-size: 1rem;
    gap: 20px;
}
.main-info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
}
.main-info h3 span{
    color: black;
    padding: 0 0.5rem;
}

.my-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
}
.story h1{
    text-align: center;
    border-bottom: solid black;
    padding: 1rem;
    margin: 0 3rem;
}

.mystory p{
    font-size: 2rem;
    margin: 0 3rem; 
/* } */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    aside{
        left: -120%;
    }
    body{
        padding: 0;
    }
    #menu{
        display: block;
    }
    aside.toggle{
        left: 0%;
    }
    .home{
        padding: 1rem 4rem;
    }

    


}
@media(max-width:1300px){
    .friends-page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:1rem;
    }
    .interest{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    aside{
        left: -120%;
    }
    body{
        padding: 0;
    }
    #menu{
        display: block;
    }
    aside.toggle{
        left: 0%;
    }
    
}
 

@media(min-width: 280px){
    .container{
        max-width: 330px;
        padding: 1rem 0;
        margin: 0 auto;
    }
    
    
}

@media(min-width:400px){
    .container{
        max-width: 340px;
        padding: 1rem 15px;
    }
    
   
}

@media (min-width: 576px) {
    .container {
        max-width: 520px;
        margin: 0 auto;
    }
    
}

@media (min-width: 768px) {
    .container {
        max-width: 710px;
    }
   
}

@media (min-width: 992px){
    .container{
        max-width: 930px;
    }
    
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
    
} 
@media(max-width:991px){
    aside{
        left: -120%;
    }

    #menu{
        display: block;
    }

    aside.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
    .friends-page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:1rem;
    }

}

@media(max-width:768px){
    htnl{
        font-size: 50%;
    }
    .friends-page{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;
    }
    .section-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .interest{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}


@media(max-width:400px){
    aside{
        width: 80vw;
    }

    
} 
